@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Orbitron&display=swap');

body {
  //background: url(https://opengameart.org/sites/default/files/myGrid.png);
  background-position: center;
}

#app {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align:center;
}

#program-container {
  font-family: 'Fredoka';
  font-size: 15px;
  overflow-wrap: anywhere;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width:600px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  bottom:0px;
  text-align:center;
  border-radius: 5px;
}
#signupContainer {
  border: none;
  margin: 20px;
  padding: 20px;
 background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
}



.main-login-container {
  background: linear-gradient(
    45deg,
    rgba(94, 193, 211, 0.904) 0%,
    rgb(228, 215, 248) 75%
  );
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  //border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-feed-container {
  // background-image: linear-gradient(to bottom right, white, rgb(208, 177, 228), rgb(190, 146, 212), rgb(212, 120, 215), rgb(222, 128, 189));
  background: linear-gradient(
    45deg,
    rgba(94, 193, 211, 0.904) 0%,
    rgb(228, 215, 248) 75%
  );

  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.githubButton {
  font-size: 25px;
  color: white;
  border: 1px solid white;
  height: 50px;
  width: 400px;
  background: transparent;
}

.matchButtons {
  font-family: 'Press Start 2P', 'Varela Round';
  background-color: rgb(222, 179, 235);
  // padding-top: 10px;
  margin-top: 70px;
  margin-right: 30px;
  margin-left: 30px;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.matchButtons:hover {
  background-color: black;
  color: white;
}
#profile-container {
  display: flex;
  justify-content: center;
  padding-top: 30px
}

.updateProfileBtn {
  padding: 30px 20px;
}

.updateProfileInput {
  // border: 1px solid red;
  margin-bottom: 40px;
}

.languageChartDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#navbar {
  display: flex;
  background-color: white;
  font-family: 'Press Start 2P', 'Orbitron', sans-serif;
  padding: 30px;
  justify-content: space-around;
}
#nav-title {
  font-size: 24px;  
  color: rgb(152, 113, 197);
}
a {
  margin-top: 5px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(152, 113, 197);

}

#toptext {
  font-family: 'Press Start 2P', 'Varela Round';
  color: rgb(152, 113, 197);
  font-size: 34px;
  padding: 10px;
}

#bottomtext {
  font-family: 'Press Start 2P', 'Varela Round';
  color: rgb(152, 113, 197);
  font-size: 19px;
}
#termText {
  color: white;
  font-size: 10px;
  width: 400px;
}